:root{

    /*
    |--------------------------------------------------------------------------
    | Colors
    |--------------------------------------------------------------------------
    */

    --pag-primary:#4F46E5;
    --pag-primary-hover:#4338CA;

    --pag-success:#22C55E;
    --pag-warning:#F59E0B;
    --pag-danger:#EF4444;
    --pag-info:#3B82F6;

    /*
    |--------------------------------------------------------------------------
    | Background
    |--------------------------------------------------------------------------
    */

    --pag-bg:#F6F8FC;

    --pag-card:#FFFFFF;

    --pag-card-hover:#FCFCFD;

    /*
    |--------------------------------------------------------------------------
    | Text
    |--------------------------------------------------------------------------
    */

    --pag-text:#111827;

    --pag-text-light:#6B7280;

    --pag-border:#E5E7EB;

    /*
    |--------------------------------------------------------------------------
    | Radius
    |--------------------------------------------------------------------------
    */

    --pag-radius:18px;

    /*
    |--------------------------------------------------------------------------
    | Shadow
    |--------------------------------------------------------------------------
    */

    --pag-shadow:

    0 10px 30px rgba(15,23,42,.06);

    /*
    |--------------------------------------------------------------------------
    | Animation
    |--------------------------------------------------------------------------
    */

    --pag-transition:.25s ease;

}

/*
|--------------------------------------------------------------------------
| Dark Mode
|--------------------------------------------------------------------------
*/

.pag-dark{

    --pag-bg:#18181B;

    --pag-card:#242428;

    --pag-card-hover:#2E2E33;

    --pag-text:#F9FAFB;

    --pag-text-light:#B5B7C0;

    --pag-border:#34343B;

}