/* body.pag-dark{

	background:#111827;

	color:#e5e7eb;

}

body.pag-dark .wrap{

	color:#e5e7eb;

}

body.pag-dark .pag-box,
body.pag-dark .pag-card,
body.pag-dark .pag-dashboard-header,
body.pag-dark .widefat,
body.pag-dark .pag-builder-sidebar,
body.pag-dark .pag-builder-content,
body.pag-dark .pag-builder-preview{

	background:#1f2937;

	color:#e5e7eb;

	border-color:#374151;

}

body.pag-dark table th,
body.pag-dark table td{

	border-color:#374151;

}

body.pag-dark input,
body.pag-dark textarea,
body.pag-dark select{

	background:#111827;

	color:#fff;

	border-color:#4b5563;

}

body.pag-dark .pag-title,
body.pag-dark h1,
body.pag-dark h2,
body.pag-dark h3{

	color:#fff;

}

body.pag-dark .pag-theme-toggle.active .pag-theme-thumb{

	transform:translateX(22px);

}

body.pag-dark .pag-theme-switch{

	background:#2563eb;

} */